# Composer files - composer.lock dan vendor hanya dibutuhkan saat build
# composer.lock
/vendor/

# Node.js modules - untuk menghindari meng-copy folder node_modules lokal ke dalam image
node_modules/

# Laravel 10 & 11 files
/storage/*
/.env
/public/storage

# Laravel config cache
/bootstrap/cache/*

# IDE config dan file sementara
.idea
.vscode
*.sublime-workspace
*.sublime-project

# File log
*.log

# File backup dan file sementara lainnya
*.bak
*.swp
*~
.DS_Store

# Cache dan cache Laravel
/.cache
/.phpunit
/.pids

# File konfigurasi database yang tidak perlu (seperti .env.testing)
.env.testing

# Direktori temporary build untuk Vite
/public/build
/public/hot

# Ignore .git dan file terkait version control
.git
.gitignore
.gitattributes

# Ignore Dockerfile dan docker-compose.yml jika Anda tidak ingin memasukkan file konfigurasi Docker
Dockerfile
docker-compose.yml

# Ignore image container yang sudah dibangun
*.tar
*.img
